body {
  /* background-color: var(--bs-blue);
  color: var(--bs-gray); */
  text-align: center;
  font-family: sans-serif;
}

.titelbalk {
  margin-top: 60px;
  background-color: #452a0f;
  padding: 20px;
}

.algemeen {
  padding: 30px;
  background-color: #edd7c2;
}

.plaatnamen{
  color: white;
}

.despellen {
  padding: 30px;
  background-color: #fff6ed;
}

@media only screen and (min-width: 600px) {
  .despellen {
    padding-left: 100px;
    padding-right: 100px;
  }
}

h1 {
  font-size: 3rem;
  font-family: sans-serif;
}

.wiewijzijn{
  width: 80%;
  text-align: left
}

.adresje{
  margin-top: 20px;
}

.reserveer{
  margin-top: 20px;
  text-align: left;
  width: 400px;
}

.footer {
  background: #fff6ed;
  padding: 10px;
}

.socials {
  height: 100px;
  padding: 10px;
}

.fab {
  color: #452a0f;
  border-radius: 50px;
  border: 2px solid #452a0f;
  margin: 15px 5px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  text-decoration: none;
  font-weight: bold;
}

.downloadcontainer{
  width: 400px;
  text-align: left;
}

.form-control {
  margin-bottom: 20px;
}

#copyright {
  font-size: 0.7rem;
}

/* img{
  background-color: #adceff;
  border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */
